{% extends 'master.html' %}
{% load static %}

{% block title %}
ForoVox | Crear Publicacion
{% endblock %}

{% block content %}

{% if tipUsuario == "Admin" %}

{% include 'components/admin-display.html' %}

{% else %}

{% include 'components/usuario-display.html' %}

{% endif %}
<div class="flex justify-center">
  <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[25rem]">
    <div class="flex w-full max-w-lg items-center gap-4 mb-10">
      {% if foro.imagen %}
      <img src="{{ foro.imagen.url }}" alt="Imagen del Foro" class="size-11 md:size-14 lg:size-16 rounded-full">
      {% else %}
      <img src="{% static 'imagenes/tabula_rasa.png' %}" alt="Imagen del foro"
        class="size-11 md:size-14 lg:size-16 rounded-full">
      {% endif %}
      <h1 class="font-bold text-lg">{{ foro.nombre }}</h1>
    </div>
    <form action="{% url 'form_crear_publicacion' foro.id %}" method="post" class="flex flex-col w-full max-w-lg">
      {% csrf_token %}
      <h1 class="text-2xl font-bold mb-10 text-start">Crear Publicación</h1>
      <div class="flex w-full flex-col">
        <input name="txtpubtit" type="text" placeholder="Título"
          class="w-full bg-transparent text-left placeholder:text-slate-400 text-slate-700 border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow mb-4"
          required>
        <textarea name="txtpubcom" placeholder="Comentario"
          class="w-full bg-transparent text-left placeholder:text-slate-400 text-slate-700 border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow resize-none h-[16rem]"
          required></textarea>
      </div>
      <div class="flex flex-wrap gap-4 mt-4">
        <button type="submit"
          class="p-[0.625rem] rounded-lg text-sm bg-[#1c253b] text-[#fafafa] hover:opacity-95">Publicar</button>
        <button type="reset"
          class="p-[0.625rem] rounded-lg text-sm bg-[#fafafa] text-[#1c253b] border border-[#1c253b] hover:bg-[#F1F3F8]">Limpiar</button>
      </div>
      {% if errores %}
      <p>{{ errores }}</p>
      {% endif %}
    </form>
  </div>
</div>

{% endblock %}