{% extends 'master.html' %}
{% load static %}

{% block title %}
ForoVox | Crear Temática
{% endblock %}

{% block content %}

{% if tipUsuario == "Admin" %}

{% include 'components/admin-display.html' %}

{% else %}

{% include 'components/usuario-display.html' %}

{% endif %}
<div class="flex justify-center">
  <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[25rem]">
    <form action="{% url 'form_crear_tematica' %}" method="post" class="flex flex-col w-full max-w-lg">
      {% csrf_token %}
      <h1 class="text-2xl font-bold mb-10 text-start">Crear temática</h1>
      <div class="flex w-full flex-col">
        <input name="txtnomtem" type="text" placeholder="Nombre de la temática"
          class="w-full bg-transparent text-left placeholder:text-slate-400 text-slate-700 border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow mb-4">
        <textarea name="txtdestem" placeholder="Descripción de la temática"
          class="w-full bg-transparent text-left placeholder:text-slate-400 text-slate-700 border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow resize-none h-[16rem]"></textarea>
      </div>
      <div class="flex flex-wrap gap-4 mt-4 mb-5">
        <button type="submit" class="p-[0.625rem] rounded-lg text-sm bg-[#1c253b] text-[#fafafa] hover:opacity-95">Crear
          Temática</button>
        <button type="reset"
          class="p-[0.625rem] rounded-lg text-sm bg-[#fafafa] text-[#1c253b] border border-[#1c253b] hover:bg-[#F1F3F8]">Limpiar</button>
      </div>

      {% comment %} Respuestas del servidor {% endcomment %}
      {% if errores %}

      <div role="alert" class="mt-3 relative flex flex-col w-full p-3 text-sm text-white bg-red-600 rounded-md"
        id="alert">
        <p class="flex text-base">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="h-5 w-5 mr-2 mt-0.5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z">
            </path>
          </svg>
          Error
        </p>
        {% for value in errores.values %}
        <p class="ml-4 p-3">
          {{ value }}
        </p>
        {% endfor %}

        <button
          class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-white hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
          type="button" onclick="closeAlert()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      {% endif %}

      {% if mensaje_exito %}

      <div role="alert" class="mt-3 relative flex flex-col w-full p-3 text-sm text-white bg-green-600 rounded-md"
        id="alert">
        <p class="flex text-base">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            class="h-5 w-5 mr-2 mt-0.5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z">
            </path>
          </svg>
          Felecitaciones!
        </p>
        <p class="ml-4 p-3">
          {{ mensaje_exito }}
        </p>

        <button
          class="flex items-center justify-center transition-all w-8 h-8 rounded-md text-white hover:bg-white/10 active:bg-white/10 absolute top-1.5 right-1.5"
          type="button" onclick="closeAlert()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-5 w-5"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

      <script>
        function closeAlert() {
          const alertElement = document.getElementById('alert');
          alertElement.style.display = 'none';
        }
      </script>

      {% endif %}

    </form>
  </div>
</div>

<script>
  function closeAlert() {
    const alertElement = document.getElementById('alert');
    alertElement.style.display = 'none';
  }
</script>
{% endblock %}