{% extends 'master.html' %}
{% load static %}

{% block title %}
ForoVox | Editar Publicacion
{% endblock %}

{% block content %}

{% if tipUsuario == "Admin" %}
  {% include 'components/admin-display.html' %}
{% else %}
  {% include 'components/usuario-display.html' %}
{% endif %}

<div class="flex justify-center">
  <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[25rem]">
    <div class="flex w-full max-w-lg items-center gap-4 mb-10">
      {% if foro.imagen %}
        <img src="{{ foro.imagen.url }}" alt="Imagen del Foro" class="size-16 rounded-full">
      {% else %}
        <img src="{% static 'imagenes/tabula_rasa.png' %}" alt="Imagen del foro" class="size-16 rounded-full">
      {% endif %}
      <h1 class="font-bold text-lg dark:text-white">{{ foro.nombre }}</h1>
    </div>
    
    <form action="{% url 'form_editar_publicacion' foro.id publicacion.id %}" method="post" class="flex flex-col w-full max-w-lg">
      {% csrf_token %}
      <h1 class="text-2xl font-bold mb-10 text-start dark:text-white">Editar Publicación</h1>
      
      <div class="flex w-full flex-col">
        <input value="{{ publicacion.titulo }}" name="txtpubtit" type="text" placeholder="Título"
          class="w-full bg-transparent dark:bg-[#2D3748] text-left placeholder:text-slate-400 dark:placeholder:text-gray-500 text-slate-700 dark:text-gray-300 border border-slate-200 dark:border-slate-600 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 dark:focus:border-slate-500 hover:border-slate-300 dark:hover:border-slate-500 shadow-sm focus:shadow mb-4"
          required>
        <textarea name="txtpubcom" placeholder="Comentario"
          class="w-full bg-transparent dark:bg-[#2D3748] text-left placeholder:text-slate-400 dark:placeholder:text-gray-500 text-slate-700 dark:text-gray-300 border border-slate-200 dark:border-slate-600 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 dark:focus:border-slate-500 hover:border-slate-300 dark:hover:border-slate-500 shadow-sm focus:shadow resize-none h-[16rem]"
          required>{{ publicacion.texto }}</textarea>
      </div>
      
      <div class="flex flex-wrap gap-4 mt-4">
        <button type="submit"
          class="p-[0.625rem] rounded-lg text-sm bg-[#1c253b] dark:bg-[#24304C] text-[#fafafa] hover:opacity-95">Guardar cambios</button>
        <button onclick="window.location.href='http://127.0.0.1:8000/foro/{{ foro.id }}';" type="button"
          class="p-[0.625rem] rounded-lg text-sm bg-[#fafafa] dark:bg-gray-700 text-[#1c253b] dark:text-white border border-[#1c253b] dark:border-gray-600 hover:bg-[#F1F3F8] dark:hover:bg-gray-600">Cancelar</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
