{% extends 'master.html' %}
{% load static %}

{% block title %}
ForoVox | Editar Perfil
{% endblock %}

{% block content %}

{% include 'components/admin-display.html' %}
<div class="flex justify-center">
  <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[30rem]">
    <div class="w-full max-w-md bg-white border border-slate-200 shadow-md rounded-md p-5">
      <div class="flex items-center gap-4 mb-16">
        <img src="{% static 'imagenes/default-profile.png' %}" alt="Foto de perfil del usuario" class="size-20">
        <h2 class="font-bold text-2xl">{{ usuario.nombres }}</h2>
      </div>
      <form action="{% url 'form_editar_usuario' usuario.id %}" method="POST">
        {% csrf_token %}
        <div class="flex flex-col gap-4 text-sm">
          <div class="w-full">
            <input name="txtrut" disabled value="{{ usuario.rut }}"
              class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              type="text" placeholder="Rut">
          </div>
          <div class="w-full">
            <input name="txtnom" value="{{ usuario.nombres }}"
              class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              type="text" placeholder="Nombres" required>
          </div>
          <div class="flex gap-4">
            <div class="w-full">
              <input name="txtapem" value="{{ usuario.materno }}"
                class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                type="text" placeholder="Apellido Materno" required>
            </div>
            <div class="w-full">
              <input name="txtapep" value="{{ usuario.paterno }}"
                class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
                type="text" placeholder="Apellido Paterno" required>
            </div>
          </div>
          <div class="w-full">
            <input name="txtema" disabled value="{{ usuario.correo }}"
              class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              type="email" placeholder="Correo">
          </div>
          <div class="w-full">
            <input name="txtnac" value="{{ usuario.nacionalidad }}"
              class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
              type="text" placeholder="Nacionalidad" required>
          </div>
          <div class="w-full relative">
            <input value="{{ usuario.contraseña }}" name="txtpas"
              class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow password-input"
              type="password" placeholder="Contraseña" required>
            <i
              class="ri-eye-off-fill absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer toggle-password"></i>
          </div>
          <div class="w-full relative">
            <input value="{{ usuario.contraseña }}" name="txtpas2"
              class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow password-input"
              type="password" placeholder="Repetir contraseña" required>
            <i
              class="ri-eye-off-fill absolute right-3 top-1/2 transform -translate-y-1/2 cursor-pointer toggle-password"></i>
          </div>
          <div class="flex gap-6">
            <button type="submit"
              class="flex-1 rounded-lg bg-[#1c253b] text-center text-[#fafafa] py-2 transition-colors hover:bg-[#24304C]">Guardar
              cambios</button>
            <a href="{% url 'perfil_usuario' usuario.id %}"
              class="flex-1 flex items-center justify-center transition-colors rounded-lg bg-white text-[#1c253b] border border-[#1c253b] hover:bg-[#F1F3F8]"><span>Cancelar</span></a>
          </div>
        </div>
      </form>
      {% if errores %}
      {% for value in errores.values %}

      <span
        class="mb-2 w-full max-w-[23rem] px-2 py-1 rounded-md  text-red-600 text-center bg-red-200 translate-y-2 animation-">{{
        value }}</span>

      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}
{% verbatim %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const togglePasswordIcons = document.querySelectorAll('.toggle-password');

    togglePasswordIcons.forEach(icon => {
      icon.addEventListener('click', () => {
        const passwordInput = icon.previousElementSibling;
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          icon.classList.remove('ri-eye-off-fill');
          icon.classList.add('ri-eye-fill');
        } else {
          passwordInput.type = 'password';
          icon.classList.remove('ri-eye-fill');
          icon.classList.add('ri-eye-off-fill');
        }
      });
    });
  });
</script>
{% endverbatim %}
{% endblock %}