{% extends 'master.html' %}
{% load static %}


{% block title %}
ForoVox | Editar Temática
{% endblock %}

{% block content %}

{% include 'components/admin-display.html' %}

<div class="flex justify-center">
  <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[25rem]">
    <form action="{% url 'form_editar_tematica' tematica.id %}" method="post" class="flex flex-col w-full max-w-lg">
      {% csrf_token %}
      <h1 class="text-2xl font-bold mb-10 text-start">Editar temática</h1>
      <div class="flex w-full flex-col">
        <input name="txtnomtem" value="{{ tematica.nombre }}" type="text" placeholder="Nombre de la temática"
          class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg p-3 mb-4">
        <textarea name="txtdestem" placeholder="Descripción de la temática"
          class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg p-3 resize-none h-[16rem]">{{ tematica.descripcion }}</textarea>
      </div>
      <div class="flex flex-wrap gap-4 mt-4 mb-5">
        <button type="submit"
          class="p-[0.625rem] rounded-lg text-sm bg-[#1c253b] text-[#fafafa] hover:opacity-95">Guardar
          cambios</button>
        <button onclick="window.location.href='http://127.0.0.1:8000/administrar_tematicas/';" type="button"
          class="p-[0.625rem] rounded-lg text-sm bg-[#fafafa] text-[#1c253b] border border-[#1c253b] hover:bg-[#F1F3F8]">Cancelar</button>
      </div>
    </form>

    {% if errores %}
      {% for value in errores.values %}

        <span class="mb-2 w-full max-w-lg px-2 py-2 rounded-md  text-red-600 text-center bg-red-200 translate-y-2 animation-">{{ value }}</span>

      {% endfor %}

    {% endif %}

    {% if mensaje_exito %}

      <p class="w-full max-w-lg px-2 py-2 rounded-md  text-green-600 text-center bg-green-200 translate-y-2">{{ mensaje_exito }}</p>

    {% endif %}

  </div>
</div>

{% endblock %}