{% extends 'master.html' %}
{% load static %}


{% block title %}
ForoVox | Explorar Temáticas
{% endblock %}

{% block content %}

{% if tipUsuario == "Admin" %}
    {% include 'components/admin-display.html' %}
{% else %}
    {% include 'components/usuario-display.html' %}
{% endif %}

<div class="flex justify-center">
    <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[25rem]">
        <h2 class="font-bold text-2xl mb-8 dark:text-white">Explorar Temáticas</h2>

        <div class="w-full flex justify-between items-center mb-3 mt-1">
            <div>
                <div class="w-full max-w-sm min-w-[200px] relative">
                    <div class="relative">
                        <input id="searchInput"
                            class="bg-white dark:bg-[#2D3748] w-full pr-11 h-10 pl-3 py-2 bg-transparent placeholder:text-slate-400 dark:placeholder:text-gray-500 text-slate-700 dark:text-gray-300 text-sm border border-slate-200 dark:border-slate-600 rounded transition duration-200 ease focus:outline-none focus:border-slate-400 dark:focus:border-slate-500 hover:border-slate-400 dark:hover:border-slate-500 shadow-sm focus:shadow-md"
                            placeholder="Buscar temática..." />
                        <button class="absolute h-8 w-8 right-1 top-1 my-auto px-2 flex items-center bg-white dark:bg-[#2D3748] rounded "
                            type="button">
                            <i class="ri-search-line text-slate-600 dark:text-gray-300 text-xl"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="relative flex flex-col w-full h-auto overflow-auto text-gray-700 dark:text-gray-300 bg-white dark:bg-[#2D3748] shadow-md rounded-lg bg-clip-border">
            <table id="tematicaTable" class="w-full text-left table-auto min-w-max">
                <thead>
                    <tr>
                        <th class="p-4 border-b border-slate-200 dark:border-slate-600 bg-slate-50 dark:bg-[#232b3b]">
                            <p class="text-sm font-normal leading-none text-slate-500 dark:text-gray-400">Temática</p>
                        </th>
                    </tr>
                </thead>
                <tbody id="tematicaTableBody">
                    {% for tematica in tematicas %}
                    <tr class="hover:bg-slate-50 dark:hover:bg-[#4A5568] border-b border-slate-200 dark:border-slate-600">
                        <td class="p-4 py-5">
                            <a href="{% url 'explorar_foros' %}?tematica={{ tematica.id }}" class="block font-semibold text-sm text-slate-800 dark:text-gray-300 hover:underline">{{ tematica.nombre }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="flex justify-between items-center px-4 py-3">
                <div class="text-sm text-slate-500 dark:text-gray-400" id="tableInfo">
                    Mostrando <b>1-5</b> de {{ tematicas|length }}
                </div>
                <div class="flex space-x-1">
                    <button id="prevBtn"
                        class="px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-slate-500 dark:text-gray-400 bg-white dark:bg-[#2D3748] border border-slate-200 dark:border-slate-600 rounded hover:bg-slate-50 dark:hover:bg-[#4A5568] hover:border-slate-400 dark:hover:border-slate-500 transition duration-200 ease">
                        Prev
                    </button>
                    <button id="nextBtn"
                        class="px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-slate-500 dark:text-gray-400 bg-white dark:bg-[#2D3748] border border-slate-200 dark:border-slate-600 rounded hover:bg-slate-50 dark:hover:bg-[#4A5568] hover:border-slate-400 dark:hover:border-slate-500 transition duration-200 ease">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/explorar_tematicas.js' %}"></script>
{% endblock %}