{% extends 'master.html' %}

{% block title %}
ForoVox | Login
{% endblock %}

{% block content %}

{% include 'components/header-nosession.html' %}

<main class="flex flex-col items-center justify-center mt-20">
  <div class="w-full max-w-md bg-white border border-slate-200 shadow-md rounded-md p-6">
    <h2 class="text-2xl font-bold text-center">Iniciar sesión</h2>
    <p class="text-[#666666] mt-1.5 text-center">Rellena el formulario para poder ingresar</p>
    <form action="{% url 'form_login' %}" method="post" class="flex flex-col mt-8 px-4 w-full items-center">
      {% csrf_token %}
      <div class="flex flex-col w-full max-w-[23rem] gap-6">
        <div class="w-full max-w-sm min-w-[200px]">
          <input name="txtrut" type="text"
            class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
            placeholder="Rut" required>
        </div>
        <div class="w-full max-w-sm min-w-[200px]">
          <input name="txtpas" type="password"
            class="w-full text-center bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow"
            placeholder="Contraseña" required>
        </div>
        <button type="submit"
          class="bg-[#10182B] text-sm text-white hover:bg-[#24304C] rounded-lg py-2 text-center">Iniciar
          sesión</button>
      </div>
    </form>
    <p class="mt-5 mb-5 text-[#666666] text-center">Aún no tienes una cuenta? <a href="/signup"
        class="text-black hover:underline underline-offset-2">Registrate</a></p>

    {% if mensaje_error %}
    <p class="mt-5 text-[#666666] text-sm text-center text-red-600">{{ mensaje_error }}</p>
    {% endif %}
  </div>
</main>

{% endblock %}