{% extends 'master.html' %}
{% load static %}

{% block title %}
ForoVox | Perfil usuario
{% endblock %}

{% block content %}

{% if tipUsuario == "Admin" %}

{% include 'components/admin-display.html' %}

{% else %}

{% include 'components/usuario-display.html' %}

{% endif %}

<div class="flex justify-center">
  <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[30rem]">
    <div class="w-full max-w-md bg-white border border-slate-200 shadow-md rounded-md p-5">
      <div class="flex items-center gap-4 mb-16">
        <img src="{% static 'imagenes/default-profile.png' %}" alt="Foto de perfil del usuario" class="size-20">
        <h2 class="font-bold text-2xl">{{ usuario.nombres }}</h2>
      </div>
      <div class="flex flex-col gap-4 text-sm">
        <div class="flex justify-between p-2 rounded-md hover:bg-[#F1F3F8] transition-colors">
          <h3 class="text-left font-semibold">Rut</h3>
          <p clas>{{ usuario.rut }}</p>
        </div>
        <div class="flex justify-between p-2 rounded-md hover:bg-[#F1F3F8] transition-colors">
          <h3 class="text-left font-semibold">Nombres</h3>
          <p clas>{{ usuario.nombres }}</p>
        </div>
        <div class="flex justify-between p-2 rounded-md hover:bg-[#F1F3F8] transition-colors">
          <h3 class="text-left font-semibold">Apellidos</h3>
          <p clas>{{ usuario.paterno }} {{ usuario.materno }}</p>
        </div>
        <div class="flex justify-between p-2 rounded-md hover:bg-[#F1F3F8] transition-colors">
          <h3 class="text-left font-semibold">Email</h3>
          <p clas>{{ usuario.correo }}</p>
        </div>
        <div class="flex justify-between p-2 rounded-md hover:bg-[#F1F3F8] transition-colors">
          <h3 class="text-left font-semibold">Contraseña <i class="ri-eye-line font-light cursor-pointer"></i>
          </h3>
          <p clas>{{ usuario.contraseña }}</p>
        </div>
        <div class="flex justify-between p-2 rounded-md hover:bg-[#F1F3F8] transition-colors">
          <h3 class="text-left font-semibold">Nacionalidad</h3>
          <p clas>{{ usuario.nacionalidad }}</p>
        </div>
        <div class="flex gap-6">
          <a href="{% url 'editar_usuario' usuario.id %}"
            class="flex-1 rounded-md bg-[#1c253b] text-center text-[#fafafa] py-2 transition-colors hover:bg-[#24304C]">Editar
            Perfil</a>
          <button
            class="flex-1 rounded-md bg-[#ec2c2c] text-[#fafafa] py-2 transition-colors hover:bg-[#EE4444]">Deshabilitar
            cuenta</button>
        </div>
      </div>
      {% if mensaje_exito %}

      <p class="mt-5 w-full max-w-[23rem] px-2 py-1 rounded-md  text-green-600 text-center bg-green-200 translate-y-2">
        {{ mensaje_exito }}</p>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}