{% extends 'master.html' %}

{% block title %}
ForoVox | Sign Up
{% endblock %}

{% block content %}

{% include 'components/header-nosession.html' %}

<main class="flex flex-col items-center">
  <h2 class="text-2xl font-bold mt-12">Crea una cuenta </h2>
  <p class="text-[#666666] mt-1.5 text-center">Rellena el formulario para poder registrarte</p>
  <form action="{% url 'form_signup' %}" method="post" class="mt-8 px-4">
    {% csrf_token %}
    <div class="flex flex-col max-w-[23rem] gap-4">
      <input name="txtrut" class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg py-2 text-center" type="text" placeholder="Rut"
        required>
      <input name="txtnom" class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg py-2 text-center" type="text" placeholder="Nombres"
        required>
      <div class="flex gap-4">
        <input name="txtapem" class="bg-[#fafafa] w-full border border-[#B4B4B4] rounded-lg py-2 text-center" type="text"
          placeholder="Apellido Materno" required>
        <input name="txtapep" class="bg-[#fafafa] w-full border border-[#B4B4B4] rounded-lg py-2 text-center" type="text"
          placeholder="Apellidor Paterno" required>
      </div>
      <input name="txtema" class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg py-2 text-center" type="email" placeholder="Correo"
        required>
      <input name="txtnac" class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg py-2 text-center" type="text"
        placeholder="Nacionalidad" required>
      <input name="txtpas" class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg py-2 text-center" type="password"
        placeholder="Contraseña" required>
      <input name="txtpas2" class="bg-[#fafafa] border border-[#B4B4B4] rounded-lg py-2 text-center" type="password"
        placeholder="Repetir contraseña" required>
      <button type="submit"
        class="bg-[#10182B] text-white hover:bg-[#24304C] rounded-lg py-2 text-center">Registrar</button>
    </div>
  </form>
  <p class="mt-5 mb-5 text-[#666666] text-center">Ya tienes una cuenta? <a href="/login"
      class="text-black hover:underline underline-offset-2">Inicia Sesión</a></p>

  {% if errores %}
  {% for value in errores.values %}

    <span class="mb-2 w-full max-w-[23rem] px-2 py-1 rounded-md  text-red-600 text-center bg-red-200 translate-y-2 animation-">{{ value }}</span>

  {% endfor %}
  {% endif %}

  {% if mensaje_exito %}

  <p class="mt-5 w-full max-w-[23rem] px-2 py-1 rounded-md  text-green-600 text-center bg-green-200 translate-y-2">{{ mensaje_exito }}</p>

  {% endif %}
</main>

{% endblock %}