{% extends 'master.html' %}
{% load static %}

{% block title %}
ForoVox | Ver Foro
{% endblock %}

{% block content %}

{% include 'components/admin-display.html' %}
<div class="flex justify-center">
  <div class="flex flex-col items-center xl:items-start max-w-7xl w-full px-4 xl:pl-[25rem]">
    <div class="flex gap-4">
      <img src="{% static 'imagenes/tabula_rasa.png' %}" alt="Imagen del foro"
        class="size-11 md:size-14 lg:size-16 rounded-full">
      <div class="flex flex-col gap-2 max-w-3xl">
        <h1 class="font-bold text-lg">{{foro.nombre}}</h1>
        <p class="text-sm">{{foro.descripcion}}</p>
        <div class="flex flex-wrap gap-4 mt-2">
          <a href="{% url 'crear_publicacion' foro.id %}"
            class="p-[0.625rem] rounded-lg text-sm bg-[#1c253b] text-[#fafafa] hover:opacity-95">Crear Publicación<i
              class="ri-add-line"></i></a>
          <button
            class="p-[0.625rem] rounded-lg text-sm bg-[#fafafa] text-[#1c253b] border border-[#1c253b] hover:bg-[#F1F3F8]">Abandonar
            Foro</button>
        </div>
      </div>
    </div>
    {% if mensaje_exito %}
      <p>{{ mensaje_exito }}</p>
    {% endif %}
    {% if publicaciones %}

      <div class="flex flex-col gap-5 mt-8 max-w-3xl w-full">
        {% for publicacion in publicaciones reversed %}
          <div class="flex flex-col gap-3 rounded-lg border border-[#D9D9D9] p-4 transition-colors hover:bg-[#F1F3F8] 
                      w-full h-48">
            <div class="flex items-center gap-2.5">
              <img src="{% static 'imagenes/default-profile.png' %}" alt="Foto de perfil del usuario"
                class="size-9 rounded-full">
              <h3 class="text-sm text-[#2A2A2A]">{{ publicacion.usuario.nombres }}</h3>
            </div>
            <h2 class="font-bold text-base">{{ publicacion.titulo }}</h2>
            <p class="text-sm overflow-hidden text-ellipsis line-clamp-3">
              {{ publicacion.texto }}
            </p>
          </div>
        {% endfor %}
      </div>
        
    {% else %}
      <h2 class="mt-10 text-end font-bold text-lg">Aún no hay ninguna publicación, ¡sé el primero en comentar!</h2>
    {% endif %}
  </div>
</div>

{% endblock %}
