{% load static %}
<header class="fixed z-40 w-full flex justify-center px-4 py-2 bg-[#10182B] text-white">
  <div class="relative flex justify-between items-center w-full max-w-7xl">
    <a href="/" class="flex items-center gap-2">
      <i class="ri-chat-4-line text-[2rem]"></i>
      <h1 class="text-[2rem] hidden md:block font-bold font-serif">
        ForoVox</h1>
    </a>
    <div class="flex items-center gap-4">
      {% if nomUsuario %}
      <span>{{ nomUsuario }}</span>
      {% endif %}
      <img src="{% static 'imagenes/default-profile.png' %}" id="profile-image" alt="Foto de perfil"
        class="size-11 rounded-full cursor-pointer xl:cursor-auto">
    </div>
  </div>
</header>
<div class="flex justify-center pt-[6.25rem]">
  <aside class="max-w-7xl w-full relative">
    <ul id="navigation-menu"
      class="hidden xl:flex xl:flex-col fixed right-4 top-20 z-50 bg-white text-sm text-[#333333] gap-2 p-4 border-[0.094rem] w-full max-w-72 border-slate-200 shadow-md rounded-lg xl:right-auto xl:left-auto xl:inset-auto">
      {% if idUsuario %}
      <a href="{% url 'perfil_usuario' idUsuario %}">
        {% else %}
        <a href="">
          {% endif %}
          <li
            class="flex gap-3 items-center p-1 rounded-md hover:bg-[#F1F3F8] transition-colors hover:text-[#000000] cursor-pointer">
            <img src="{% static 'imagenes/default-profile.png' %}" alt="Foto de perfil" class="size-6 rounded-full">
            Ver Perfil
          </li>
        </a>
        <a href="">
          <li
            class="flex gap-3 items-center p-1 rounded-md hover:bg-[#F1F3F8] transition-colors hover:text-[#000000] cursor-pointer">
            <i class="ri-group-2-line text-2xl"></i>
            Foros que sigues
          </li>
        </a>
        <a href="{% url 'logout' %}">
          <li
            class="flex gap-3 items-center p-1 rounded-md hover:bg-[#F1F3F8] transition-colors hover:text-[#000000] cursor-pointer">
            <i class="ri-logout-box-r-line text-2xl"></i>
            Cerrar sesión
          </li>
        </a>
    </ul>
  </aside>
</div>